.container{
    display:flex;
    list-style:none;
    padding:0;
}
.linkItem{
    padding: 0px 15px;
}
.linkItem {
    color: #000;
}
.linkItem:hover{
    text-decoration:none;
}
.linkActive  {
    color: #f00;
}
